@font-face {
  font-family: "iconfont"; /* Project id 2859992 */
  src: url('iconfont.woff2?t=1633942662322') format('woff2'),
       url('iconfont.woff?t=1633942662322') format('woff'),
       url('iconfont.ttf?t=1633942662322') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e62b";
}

.icon-24gf-phoneLoudspeaker:before {
  content: "\e969";
}

